---
import { BADGES } from "@config";
---

<div class="badge-icons">
  {
    BADGES.map(badge => (
      <a href={badge.href} title={badge.name}>
        <img
          src={badge.src}
          alt={badge.name}
          width="60"
          height="60"
          class="overflow-hidden bg-cover"
        />
        <span class="sr-only">{badge.name}</span>
      </a>
    ))
  }
</div>

<style>
  .badge-icons {
    @apply my-8 flex flex-wrap justify-start gap-8;
  }
</style>
